body {
  background-color: #0D1321;
  margin: 0;
  padding: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #F0EBD8;
}
a {
  color: #8be9fd;
}
.main {
  margin: 85px 0 0 14px;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3E5C76;
  border-radius: 20px;
  margin: 8% 17% 0% 19%;
  padding: 10px 52px 27px 43px;
  box-shadow: 0 0 10px #ccc, 0 0 20px #bbb, 0 0 30px #aaa;
  background-color: inset 0 0 10px #fff;
}
.social {
  margin: 1px;
}
.social a {
  color: rgb(55, 53, 87);
}
.social img {
  margin: 0 10px 15px 10px;
  height: 45px;
  width: 45px;
}
.context {
  margin: 6px 10px 10px 10px;
  color: #F0EBD8;
  font-size: 23px;
  font-weight: lighter;
  font-family: "Akaya Kanadaka", display;
}

@media only screen and (max-width: 600px) {
  
}