/* Define the gradient colors */
.css-selector {
  background: linear-gradient(
    270deg,
    #ff8080,
    #8080ff,
    #ffd080,
    #d080ff,
    #d0b080
  );
  background-size: 1000% 1000%;
}

/* Define the animation */
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Apply the animation to the selector */
.css-selector {
  animation: AnimationName 20s ease infinite;
}

body {
  font-family: sans-serif;
  /* background-color: #ffffff; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#contact-me {
  width: 500px;
  margin: 100px 0px 0px 360px;
  padding: 35px;
  background-color: #f2f2f2;
  border-radius: 30px;
}

h1 {
  font-size: 20px;
  margin-top: 0;
}

p {
  margin-top: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

@media (max-width: 500px) {
  #contact-me {
    width: 100%;
  }
}
