header {
  background: whitesmoke;
  display: flex;
  padding: 0;
  position: fixed;
  top: 0;
  height: 55px;
  width: 99%;
  border-radius: 35px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.logo img {
  height: 50px;
  padding-left: 20px;
  margin-right: 200px;
  transition: transform 0.3s ease;
}

.logo img:hover {
  transform: scale(1.1);
}

nav ul {
  display: flex;
  list-style: none;
  margin-right: 223px;
}

nav li {
  margin-right: 20px;
}

nav li a {
  text-decoration: underline;
  font-size: 24px;
  color: #555555;
  transition: color 0.3s ease;
}

nav li a:hover {
  color: #000000;
}

.search-box input[type="text"] {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.search-box button {
  padding: 8px 16px;
  background-color: #2b2b2b;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  margin-left: 10px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.search-box button:hover {
  background-color: #3c3c3c;
}
