@import url(https://fonts.bunny.net/css?family=lobster-two:400|pinyon-script:400);

/* Base colors */
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
}
.headerog {
  width: 100%;
  height: 50px;
  background: #1F305E;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px 5px 0px;
}
.logo-container {
  margin-left: -60px;
  font-family: "Pinyon Script", handwriting;
  font-size: 1.5em;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(243, 37, 106);
}

.nav {
  display: flex;
  align-items: center;
  font-family: 'lobster two';
  font-size: 1.1em;
}

.nav ol {
  display: flex;
  list-style: none;
}

.nav ol li {
  margin: 1em;
}

.nav ol li a {
  color: aquamarine;
  text-decoration: none;
  padding: 0.2em 1.2em 0.9em 1.2em;
  border-radius: 10px 10px 0 0;
  color: rgb (39, 39, 39);
  transition: all 0.4s;
  position: relative;
  z-index: 1;
}

.nav ol li a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 41px;
  border-radius: 10px 10px 0 0;
  transform-origin: bottom;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  transform: scaleY(0.05);
  z-index: -1;
  transition: all 0.4s;
}

.nav ol li a:hover::before {
  transform: scaleY(1.1);
}

.nav ol li a:hover {
  color: white;
}

.search-container {
  display: flex;
  margin-right: -70px;
}

.search-input {
  border: none;
  border-radius: 10px;
  width: 180px;
  padding: 7px;
  background-color: var(--nord3);
  caret-color: white;
}

.search-button {
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-family: "Lobster Two";
  background-color: var(--nord1);
  color: var(--nord4);
  padding: 7px 15px;
  margin-left: 15px;
  margin-right: 18px;
}
