/* Base colors */
:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
}

.headerog {
  position: fixed;
  display: flex;
  margin: 3px 7px;
  width: 98%;
  align-items: center;
  justify-content: space-between;
  background-color: var(--nord0);
  border-radius: 20px;
  padding: 6px;
}

.logo-container {
  float: right;
}

.logo {
  width: 50px;
  height: 50px;
}

.nav {
  display: flex;
}

.nav-link {
  color: var(--nord4);
  text-decoration: none;
  margin-right: 20px;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-link:hover {
  color: var(--nord6);
}

.search-container {
  display: flex;
}

.search-input {
  border: none;
  border-radius: 8px;
  width: 150px;
  padding: 0.5rem;
  background-color: var(--nord3);
  caret-color: aquamarine;
}

.search-button {
  border: none;
  border-radius: 8px;
  background-color: var(--nord1);
  color: var(--nord4);
  padding: 0.5rem 1rem;
  margin-left: 6px;
}

@media (max-width: 768px) {
  .headerog {
    padding: 0;
  }

  .logo-container {
    float: none;
    text-align: center;
  }

  .nav {
    float: none;
    text-align: center;
  }

  .search-container {
    float: none;
    text-align: center;
  }
}