@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Noto+Sans&family=Oxygen&family=Sevillana&family=Source+Serif+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
}

.sidebar {
  background-color: antiquewhite;
  width: 290px;
  font-family: "JetBrains Mono", monospace;
}

.sidebar nav {
  padding: 17px;
  font-size: 20px;
  height: 100vh;
}

.sidebar nav li {
  list-style: none;
  padding: 10px;
  cursor: pointer;
}

.sidebar nav li a:hover {
  color: rgb(25, 111, 198);
}

.sidebar nav li a {
  text-decoration: none;
  color: black;
}

.main {
  background: linear-gradient(
    45deg,
    rgb(232, 136, 88) 7%,
    rgb(241, 116, 50) 19%,
    rgb(241, 116, 50) 32%,
    rgb(251, 149, 94) 47%,
    rgb(251, 149, 94) 47%,
    rgb(251, 149, 94) 61%,
    rgb(247, 122, 93) 93%
  );
  width: 88vw;
  height: auto;
}

.container {
  display: flex;
  background: linear-gradient(
    45deg,
    rgb(232, 136, 88) 7%,
    rgb(241, 116, 50) 19%,
    rgb(241, 116, 50) 32%,
    rgb(251, 149, 94) 47%,
    rgb(251, 149, 94) 47%,
    rgb(251, 149, 94) 61%,
    rgb(247, 122, 93) 93%
  );
}

.infocontainer {
 /* background-color: cornsilk; */
  height: 93vh;
  width: 82vw;
  margin: 80px 0;
  justify-content: space-around;
  display: flex;
}

.devinfo {
  /* background-color: cornsilk; */
  margin-left: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Sevillana", cursive;
}

.hello {
  font-size: 75px;
  cursor: text;
}

.name {
  font-size: 60px;
  font-weight: bold;
  font-family: "Noto Sans", sans-serif;
  cursor: text;
}

.about {
  font-size: 45px;
  font-family: "Oxygen", sans-serif;
  cursor: text;
}

.moreabout {
  font-family: "Noto Sans", sans-serif;
  font-size: 25px;
  cursor: text;
  margin-top: 25px;
}

.buttons {
  margin-top: 38px;
}

.buttons button {
  font-size: 14px;
  padding: 7px 13px;
  border-radius: 31px;
  background-color: sandybrown;
  color: rgb(0, 0, 0);
  margin: 2px 3px;
  font-weight: bold;
  cursor: pointer;
  vertical-align: top;
}

.buttons button:hover {
  color: sandybrown;
  background-color: black;
}

.devpic img {
  height: 88vh;
  width: auto;
}

.contactform h1 {
  font-family: "Source Serif Pro", serif;
  padding: 12px 0;
}

.contactform {
  font-family: "Noto Sans", sans-serif;
  padding: 0px 34px;
  padding-top: 144px;
  background: linear-gradient(
    45deg,
    rgb(252, 234, 187) 6%,
    rgb(252, 205, 77) 35%,
    rgb(248, 181, 0) 55%,
    rgb(251, 223, 147) 95%,
    rgb(251, 223, 147) 95%,
    rgb(252, 234, 187) 100%
  );
  margin-top: 10vh;
}

.contactform div {
  padding: 0px 0px;
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.contactform div input {
  width: 30vw;
  border-radius: 11px;
  margin: 6px 0 0 0;
  padding: 5px;
}

#emailhelp {
  font-size: 13px;
  color: rgb(26, 26, 153);
  margin: 0 5px;
}

#form-check {
  flex-direction: row;
}

#form-check input {
  width: 17px;
  margin: 6px;
}

.form-label {
  cursor: pointer;
}

.form-label:hover + .ps {
  display: block;
  color: rgb(236, 149, 17);
}

.ps {
  display: none;
}
