* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #0c192c;
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f8f8f2;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bubbles {
  position: relative;
  display: flex;
}

.bubbles span {
  position: relative;
  width: 30px;
  height: 30px;
  background: #4fc3dc;
  margin: 0 4px;
  border-radius: 50%;
  box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
  animation: circles 15s linear infinite;
  animation-duration: calc(115s / var(--i));
}

.bubbles span:nth-child(even) {
  background: #ff2d75;
  box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}

@keyframes circles {
  0% {
    transform: translateY(100vh) scale(0);
  }
  25% {
    transform: translateY(72.5vh) scale(0.25);
  }
  50% {
    transform: translateY(45vh) scale(0.5);
  }
  75% {
    transform: translateY(17.5vh) scale(0.75);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

.main {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 55px;
}

.box {
  position: relative;
  width: 450px;
  height: 450px;
  top: 30%;
  left: 45%;
  transform: translate(-50%, -50%);
  background: repeating-conic-gradient(
    from var(--z),
    #ff2770 0%,
    #ff2770 5%,
    transparent 5%,
    transparent 40%,
    #ff2770 50%
  );
  animation: lines 4s linear infinite;
  border-radius: 20px;
}

.contact-title {
  position: absolute;
  margin: 25px 0px 0px 145px;
  color: beige;
  z-index: 2;
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline;
}

@property --z {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}

@keyframes lines {
  0% {
    --z: 0deg;
  }
  100% {
    --z: 360deg;
  }
}

.box::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-conic-gradient(
    from var(--z),
    #45f3ff 0%,
    #45f3ff 5%,
    transparent 5%,
    transparent 40%,
    #45f3ff 50%
  );
  animation: lines 4s linear infinite;
  animation-delay: -1s;
  border-radius: 20px;
}

.box::after {
  content: "";
  position: absolute;
  inset: 8px;
  background: #2d2d39;
  border-radius: 15px;

}

.form {
  margin: 0 auto;
  width: 300px;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.fname,
.femail,
.fmessage,
.submitbtn {
  border: 2px solid #564abd;
  border-radius: 20px;
  padding: 18px;
  overflow: hidden;
  margin: 12px 0px 0px 0px;
  z-index: 2;
}

.fname {
  background-color: #2e3440;
  color: #eaecf0;
  margin-top: 110px;
}

.femail {
  background-color: #3b4252;
  color: #eaecf0;
}

.fmessage {
  background-color: #434c5e;
  color: #eaecf0;
  border-radius: 14px;
  overflow: hidden;
  padding: 28px;
}

.submitbtn {
  background-color: #4c566a;
  color: white;
}

