.body {
  background-color: #282a36;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f8f8f2;
}

.main {
  padding: 25px 0 0 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.projects-title {
  font-size: 45px;
  margin-left: 45%;
  opacity: 0;
}

.profile-picture {
  width: 200px;
  height: 230px;
  border-radius: 50%;
  margin: -10px 100px 0px 0px;
}
.name {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0;
}

.title {
  font-size: 45px;
  opacity: 0;
  margin: -20px 100px 10px 0px;
}
.skills-title {
  font-size: 45px;
  margin-bottom: 20px;
  opacity: 0;
  margin-left: 40%;
  text-decoration: underline;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  opacity: 0;
  margin-left: 26%;
}

.kanban-column {
  background-color: #2e3440;
  border-radius: 25px;
  padding: 2rem;
  margin: 10px 0px 0px 30px;
}
.column-title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  color: #f8f8f2;
  background-color: #434c5e;
  border-radius: 12px;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
