.body {
  background-color: #0D1321;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f8f8f2;
  font-family: 'Alegreya SC', serif;
}

.main {
  padding: 25px 0 0 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.projects-title {
  font-size: 45px;
  margin-left: 45%;
  opacity: 0;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  margin: -10px 100px 0px 0px;
}
.name {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  opacity: 0;
}

.description {
  line-height: 1.5;
  opacity: 0;
  background-color: rgb(55, 53, 87);
  font-family: 'Nokora', sans-serif;
  font-size: 17px;
  border-radius: 20px;
  box-shadow: 0 0 10px #ccc, 0 0 20px #bbb, 0 0 30px #aaa;
  background-color: inset 0 0 10px #fff;
  padding: 35px 45px 35px 45px;
}

.title {
  font-size: 45px;
  opacity: 0;
  margin: -20px 100px 10px 0px;
}
